@{
    ViewBag.Title = "Welcome";
    ViewBag.Message = "Welcome to Joel Hilton Movie Emporium";
}

@*Super simple home page with a picture of Joel and his name*@

<div class="container text-center">
    <img src="~/JoelHilton.jpg" width="500" class="rounded-lg mt-auto mb-auto" />
    <p>Joel Hilton</p>
</div>
